playerdata/
stats/
advancements/
lunar_hosted_world_data.json
session.lock
datapacks/tempCodeRunnerFile.py
datapacks/scripts/tempCodeRunnerFile.py
/minimap/
/data/
level.dat
level.dat_old
players/

# Ignorer nether and end
dimensions/minecraft/the_nether/
dimensions/minecraft/the_end/

# Include spawn chunk only
dimensions/minecraft/overworld/region/*
!dimensions/minecraft/overworld/region/r.0.0.mca

dimensions/minecraft/overworld/entities/*
!dimensions/minecraft/overworld/entities/r.0.0.mca

dimensions/minecraft/overworld/poi/*
!dimensions/minecraft/overworld/poi/r.0.0.mca
